@font-face {
    font-family: 'bree_rgregular';
    src: url('https://static.raghavb95.com/brewing.studio/font/bree/bree-webfont.woff2') format('woff2'),
         url('https://static.raghavb95.com/brewing.studio/font/bree/bree-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}